---
import Welcome from '../components/Welcome.astro';
import Layout404 from '../layouts/Layout404.astro';
import Numero4 from '../../public/assets/404/4.png';
import Homer from '../../public/assets/404/homer.png';
import Button from "../components/button.astro";

interface Props {
    button?: { text: string; link?: string };
}
---
<Layout404>
  <div class="contenedor-404">
    <div class="error-images">
      <img class="error-img" src={Numero4.src} alt="Number 4">
      <img class="error-img-homer" src={Homer.src} alt="Homer Simpson">
      <img class="error-img" src={Numero4.src} alt="Number 4">
    </div>
    <h2>"La página que estás buscando no está disponible. Puede que haya sido eliminada, movida, o nunca haya existido."</h2>
  </div>
  <Button text="Ir al inicio" link="/" />
</Layout404>
<style>
    .contenedor-404{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor-404 h2{
        text-align: center;
    }
    .error-images{
        display: flex;
        align-items: center;
    }
    .error-img{
        height: 133.6px;
        width: 133.6px;
    }
    .error-img-homer{
        height: 300px;
        width: 182.5px;
    }
</style>