---
interface Props {
    text: string;
    link?: string;
}
const { text = "TEXT", link = "LINK" } = Astro.props;
---

<a href={link} class="boton">
    {text} <span class="material-symbols-outlined">trending_flat</span>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=trending_flat" />
</a>

<style>
    .boton {
        display: inline-flex;
        align-items: center;
        font-family: monospace;
        background-color: rgb(2 6 23);
        border: 0;
        color: rgb(255 255 255);
        padding: 11.2px 32px;
        text-decoration: none;
        border-radius: 100px;
        font-weight: 600;
        transition: background-color 0.3s ease;
    }
    .boton span {
        margin-left: 10px;
        transition: transform 0.3s ease;
    }
    .boton:hover {
        background-color: rgb(20, 20, 50);
        cursor: pointer;
    }
    .boton:hover span {
        transform: translateX(8px);
    }
</style>
