---
import foto from '../assets/foto.jpeg';
---
<footer>
    <div class="footer-inside">
       <p>© 2010 - 2025 / Fran García</p>
       <a href="#">View Source</a>
    </div>
</footer>

<style>
    footer{
        margin-top: 25px;
    }
    .footer-inside{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgba(0, 0, 0, 0.212);
    }
    .footer-inside a{
        text-decoration: none;
        color: #000000;
        font-family: monospace;
    }
</style>