---

---

<header>
    <div class="header-inside">
        <a class="logo" href="/">
            <span>FGH</span>
        </a>
        <nav>
            <a href="/information">Información</a>
            <a href="/contact">Contacto</a>
        </nav>
    </div>
</header>

<style>
    header {
        margin-top: 50px;
        margin-bottom: 40px;
        width: 500px; 
    }
    .header-inside {
        display: flex;
        justify-content: space-between;
    }
    .logo{
        text-decoration: none;
        color: #000000;
        font-family: monospace;
        font-size: 18px;
        text-align: left;
        font-weight: bold;
    }
    nav{
        display: flex;
        gap: 40px;
    }
    nav a{
        color: #000000;
        text-decoration: none;
        font-family: monospace;
        letter-spacing: -.05em;
        font-weight: 550;
        font-size: 15px;
    }
</style>